* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: lavender;
  color: black;
}

img {
  width: 300px;
  height: auto;
}

.inactive {
  display: none;
}

.power-button {
  padding: 5px 15px;
  cursor: pointer;
}